includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/liquiddesign/storm/phpstan-extension.neon

parameters:
	level: 8
	paths:
		- src\TemplateFactory.php
	excludePaths:
		- src/assets/*
		- src/templates/*