includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/liquiddesign/storm/phpstan-extension.neon

parameters:
	level: 1
	paths:
		- src
	excludePaths:
		- src/assets/*
		- src/templates/*