<iframe style="height: {$map->height|noescape};width: {$map->width|noescape};border:none;" src="https://frame.mapy.cz/s/?x={$map->gpsx|noescape}&y={$map->gpsy|noescape}&z={$map->zoom|noescape}&source=coor&id={$map->gpsx|noescape}%2C{$map->gpsy|noescape}"  frameborder="0"></iframe>
